* {
    box-sizing: border-box;
}

:root {
    --primary-clr: #212832;
    --second-clr: #7264d6;
    --text-clr: #696d76;
    --button-clr: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.67;
    color: var(--text-clr);
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

section,
.section {
    padding-inline: clamp(24px, 6vw, 135px);
    padding-block: 80px;
    overflow: hidden;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin-inline: auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: var(--primary-clr);
}

h1,
.h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

h2,
.h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

h3,
.h3 {
    font-size: 2.6rem;
    line-height: 1.39;
}

h4,
.h4 {
    font-size: 2.2rem;
    line-height: 1.45;
}

h5,
.h5 {
    font-size: 1.8rem;
    line-height: 1.75;
}

button,
.btn {
    --height: 52px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    min-height: var(--height);
    line-height: var(--height);
    border: 1px solid transparent;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    color: var(--button-clr);
    background: var(--primary-clr);
}

button.btn--primary,
.btn.btn--primary {
    --height: 58px;

    min-width: 149px;
}

button:hover,
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-subtitle {
    display: flex;
    align-items: center;
    line-height: 1.75;
    
}

.section-subtitle::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: currentColor;
}

.section-desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
}

.pb--base {
    padding-bottom: 28px;
}

@media (max-width: 767px) {
    section, .section {
        padding-block: 48px;
    }
}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 24px;
}

.navbar {
    margin-left: 70px;
}

.navbar__list {
    display: flex;
    column-gap: 48px;
}

.navbar-item__link,
.header-action__link {
    padding: 8px 0;
    line-height: 1.75;
    color: var(--text-clr);
}

.navbar-item__link:hover {
    color: var(--primary-clr);
    text-shadow: 1px 0 0 currentColor;
}

.navbar-item__active {
    font-weight: 600;
    color: var(--primary-clr);
    border-bottom: 2px solid var(--second-clr);
}

.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-left: auto;
}

/* Hero */
.hero {
    margin-top: 34px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero__heading strong {
    color: var(--second-clr);
}

.hero__content {
    width: 46%;
}

.form--get-in-touch {
    position: relative;
    margin-top: 40px;
    box-shadow: 0px 16px 42px 0px #00000012;
}

.form-field {
    width: 100%;
    padding: 23px 23px;
    border: transparent;
    border-radius: 8px;
}

.form-button[type=submit] {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    background: var(--second-clr);
}

.hero__desc--warning {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7;
    color: var(--text-clr);
}

.hero__media {
    width: 570px;
    height: 562px;
}

.hero__media-img {
    width: 100%;
    height: 100%;
}

/* Works */
.work__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.work__media {
    width: 570px;
    height: 619px;
}

.work__media-img {
    width: 100%;
}

.work__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.work__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.work-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.work-item__desc {
    line-height: 1.75x;
    color: var(--text-clr);
}

/* Card */
.section-media-text .card__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.section-media-text .card__content {
    width: 40%;
}

.section-media-text .card__content ul {
    list-style: disc;
    padding-left: 1.25em;
}

.section-media-text .card__content ul li::marker {
    font-size: 1.4em;
    color: var(--second-clr);
}

.section-media-text .card__list {
    margin: 28px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.section-media-text .card-item {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--primary-clr);
}

.section-media-text .card__media {
    width: 570px;
}

.section-media-text .card__btn {
    margin-top: 10px;
}

.section-media-text .card__img {
    width: 100%;
}

/* Client */
.client__top {
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.client__subtitle {
    justify-content: center;
}

.client__desc {
    margin-top: 8px;
    color: var(--text-clr);
}

.client__content {
    margin-top: 70px;
}

.client__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.client-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.client__message {
    position: relative;
    padding: 42px 28px;
    border-radius: 8px;
    border: 1px solid #dfe2e8;
    background: #fff;
    font-size: 2.2rem;
    line-height: 1.54;
    text-align: center;
    font-style: italic;
    color: var(--text-clr);
    transition: 0.3 ease;
}

.client__message::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 60px;
    width: 60px;
    background: #fff;
    border: 1px solid;
    border-color: transparent #dfe2e8 #dfe2e8 transparent;
}

.client__message:hover {
    box-shadow: 0px 22px 54px 0px #00000012;
    border-color: transparent;
}

.client__message:hover::after {
    border: none;
}

.client__profile {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.client__avatar-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.client-item:nth-child(1) .client__avatar-wrap {
    background: #4ab5e3;
}

.client-item:nth-child(2) .client__avatar-wrap {
    background: #439f90;
}

.client__avatar {
    width: 97%;
    object-fit: cover;
    margin-top: 14px;
}

.client__name {
    margin-top: 18px;
}

.client__name-job {
    font-size: 1.8rem;
    line-height: 1.67;
}

.client__dots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.client__dot {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
    border-radius: 1px;
    cursor: pointer;
}

.client__dot--active,
.client__dot:hover {
    background: var(--second-clr);
    border-color: var(--second-clr);
}


.section-blogs {
    --bd-radius: 12px;
}

.section-blogs .posts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 70px;
}

.section-blogs .post-item {
    display: flex;
    align-items: stretch;
    gap: 22px;
    padding: 28px;
    background-color: #fff;
    border: 1px solid #DFE2E8;
    border-radius: var(--bd-radius);
    transition: all .3s ease-in-out;
}

.section-blogs .post-item:hover {
    border-color: #fff;
    box-shadow: 0px 20px 50px 0px #00000012;
}

.section-blogs .post-item__image {
    display: flex;
    flex: 0 0 160px;
    width: 160px;
    height: 160px;
    border-radius: var(--bd-radius);
    overflow: hidden;
}

.section-blogs .post-item__image img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.section-blogs .post-item__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    padding-block: 10px;
}

.section-blogs .post-item__content > span {
    font-size: 14px;
    line-height: .58;
}

.section-blogs .post-item__content h5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.section-blogs .post-item__content > a {
    margin-top: auto;
}

.section-blogs .post-item:hover .post-item__content > a {
    color: var(--second-clr);
    text-decoration: underline;
}

@media (max-width: 991px) {
    .section-blogs .posts-wrapper {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }   
}

@media (max-width: 767px) {
    .section-blogs .post-item {
        flex-wrap: wrap;
    }

    .section-blogs .post-item__image {
        flex-basis: 100%;
        width: 100%;
        height: auto;
    }

    .section-blogs .post-item__image img {
        aspect-ratio: 16 / 9;
    }

    .section-blogs .post-item__content {
        height: max-content;
    }
}

/* section cta */
.section-cta {
    padding-bottom: 100px;
}

.section-cta * {
    color: #fff;
    text-align: center;
}

.section-cta .container {
    background-color: var(--second-clr);
    background-image: url(../img/cta-bg.png);
    background-size: 80% auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 24px;
    padding: 100px 60px;
}

.section-cta .container .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
    width: 435px;
    margin: auto;
}

.section-cta .section-subtitle {
    justify-content: center;
}

.section-cta div:has(>.btn) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 16px;
    margin-top: 20px;
}

.section-cta .btn {
    min-width: 182px;
    min-height: 64px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .section-cta {
        padding-bottom: 60px;
    }

    .section-cta .container {
        padding: 60px 40px;
        background-size: 100% auto;
    }

    .section-cta .container .inner {
        width: 100%;
    }
}

/*  */
.section-footer {
    padding-block: 100px 28px;
    background-color: #FAFBFF;
}

.section-footer .row {
    display: flex;
    justify-content: space-between;
    gap: 54px 20px;
}

.section-footer .row .column {
    width: calc(50% - 10px);
}

.section-footer .row .column:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.section-footer .row .column:first-child {
    width: 15%;
}

.section-footer .row .column:last-child {
    width: 35%;
    max-width: 403px;
}

.section-footer .row .column-inner {
    width: max-content;
}

.section-footer .row .column:last-child > div:first-child {
    margin-bottom: 48px;
}

.section-footer .row .column:first-child img {
    width: 105px;
    height: auto;
    object-fit: contain;
}

.section-footer .row .column h5 {
    margin-bottom: 24px;
}

.section-footer .row .column ul li:not(:last-child) {
    margin-bottom: 20px;
}

.section-footer .contact-info {
    display: flex;
    gap: 20px 100px;
    margin-top: 54px;
}

.section-footer .contact-info a {
    font-size: 18px;
    color: var(--text-clr);
    text-decoration: underline;
}

.section-footer .form--newsletter {
    display: flex;
    gap: 10px 20px;
    position: static;
}

.section-footer .form--newsletter .form-field {
    padding: 12px;
    border: 1px solid #8E919A;
    border-radius: 6px;
}

.section-footer .form--newsletter .form-field::placeholder {
    opacity: .7;
}

.section-footer .form--newsletter .form-button {
    --height: 48px;

    position: static;
}

.section-footer-- {
    padding-block: 28px;
    background-color: var(--second-clr);
    text-align: center;
    color: #fff;
}

@media (max-width: 991px) {
    .section-footer .row {
        flex-wrap: wrap;
    }

    .section-footer .row .column:nth-child(2) {
        justify-content: space-between;
    }

    .section-footer .row .column:last-child {
        display: flex;
        gap: 20px;
        width: 100%;
        max-width: 100%;
    }

    .section-footer .row .column:last-child > div {
        width: calc(50% - 10px);
    }
}

@media (max-width: 767px) {
    .section-footer {
        padding-top: 60px;
    }

    .section-footer .row .column,
    .section-footer .row .column:last-child > div {
        width: 100%;
    }

    .section-footer .row .column:last-child,
    .section-footer .form--newsletter {
        flex-direction: column;
    }

    .section-footer .row .column:last-child {
        row-gap: 6px;
    }

    .section-footer .row .column .column-inner {
        width: calc(50% - 10px);
    }

    .section-footer .row .column:first-child img {
        width: 200px;
    }

    .section-footer .contact-info {
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: space-between;
        margin-top: 34px;
    }
}